<?php
// データベース接続情報
define('DB_HOST', 'localhost');
define('DB_NAME', 'XXXXXXXX');
define('DB_USER', 'XXXXXXXX');
define('DB_PASS', 'XXXXXXXX');

//Twitterのコンシュマーキー(APIキー)等読み込み
define('TWITTER_API_KEY', 'XXXXXXXXXXXXXXXX'); //Consumer Key (API Key)
define('TWITTER_API_SECRET', 'XXXXXXXXXXXXXXXX'); //Consumer Secret (API Secret)

//コールバックページのURL
define('CALLBACK_URL_1', 'https://tweet-online.yrp.xyz/xxxxxxxx');
define('CALLBACK_URL_2', 'https://tweet-online.yrp.xyz/xxxxxxxx');

// 共通一般情報
//define('SITE_URL', 'https://tweet-online.yrp.xyz/'); // ホームディレクトリー
define('SITE_URL', 'https://tweet-online.net/sys/'); // 本番環境用
define('SITE_TITLE', 'Tweet Online β'); // サイトタイトル
